# Ignore database files
Server/app.db
Server/app.db-shm
Server/app.db-wal

# Ignore all files in the bin and obj directories
Server/bin/
Server/obj/

# Ignore package-lock.json
client/package-lock.json
Server/app.db
Server/bin/Debug/net7.0/app.db
.idea/
*.sln

package-lock.json
package.json
