.navbar2 {
    width: 100%;
    height: 75px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navbar-right-content {
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 10px; /* Add some space between the username and logout button */
}

.top-navbar {
    display: flex;    
    align-items: center;  
}

.filter-section button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-section button:hover {
    background-color: #444; 
}

.gallery-navbar-logo2 {
    height: 40px;   
    margin-left: 20px;
}
.filter-section {
    margin-top: 20px;  
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.checkbox-item input[type="checkbox"] {
    margin-right: 8px;  
}

.gallery-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ensure it takes up the full viewport height */
}

.main-content {
    flex: 1;  /* Allow this content to grow and take up any available space */
}
.col-md-4 {
    display: flex;
}
