.navbar {
    width: 100%;
    height: 75px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.gallery-navbar-logo {
    height: 50px;
    margin-left: 250px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.btn-danger {
    margin-left: 10px;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #555;
    color: white;
    position: fixed;
    top: 75px;
    left: 0;
    padding: 20px;
    overflow-y: auto;
    z-index: 10;
}

.card {
    max-width: 230px;
    margin: auto;
    margin-top: 45px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.filter-section button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-section button:hover {
    background-color: #444;
}

.gallery-footer {
    background-color: #333;
    color: #fff;
    padding: 5.5px;
    text-align: center;
}

.gallery-footer p {
    margin: 0;
}

.gallery-footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gallery-footer ul li {
    display: inline;
}

.gallery-footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.gallery-footer ul li a:hover {
    color: #2196F3;
}
