.navbar {
    width: 100%;
    height: 75px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.sidebar {
    width: 200px;
    height: 100vh;  
    background-color: #555;
    color: white;
    position: fixed;
    top: 75px;
    left: 0;
    padding: 20px;
    overflow-y: auto;  
    z-index: 10;
}

.image-container {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto; 
    max-height: calc(100vh - 150px);  
}

.image-container img {
    width: calc(50% - 10px);
    height: 300px;
    margin-bottom: 20px;
    object-fit: cover;
}

.image-container .main-image {
    width: 30px;
    height: auto;
}

.card {
    max-width: 230px; 
    margin: auto;  
}


.card-img-top {
    height: 200px;  
    object-fit: cover; 
}


.top-navbar {
    display: flex;    
    align-items: center;  
}

/*    Side bar buttons   */



.filter-section button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-section button:hover {
    background-color: #444; 
}



.gallery-navbar-logo {
    height: 40px;   
    margin-left: -900px;
}
.filter-section {
    margin-top: 20px;  
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.checkbox-item input[type="checkbox"] {
    margin-right: 8px;  
}
.gallery-footer {
    background-color: #333;
    color: #fff;
    padding: 5.5px;
    text-align: center;
}

.gallery-footer p {
    margin: 0;
}

.gallery-footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;  
}

.gallery-footer ul li {
    display: inline;
}

.gallery-footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.gallery-footer ul li a:hover {
    color: #2196F3;
}
