.navbar {
    width: 100%;
    height: 75px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.sidebar {
    width: 200px;
    height: 100vh;  /* Make it full viewport height */
    background-color: #555;
    color: white;
    position: fixed;
    top: 75px;
    left: 0;
    padding: 20px;
    overflow-y: auto;  
    z-index: 10;
}

.image-container {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;  /* Enable scrolling within image container */
    max-height: calc(100vh - 150px);  /* Adjust as per your requirement */
}

.image-container img {
    width: calc(50% - 10px);
    height: 300px;
    margin-bottom: 20px;
    object-fit: cover;
}

.top-navbar {
    display: flex;    /* Use flex to arrange items horizontally */
    align-items: center;  /* Vertically center align items */
    /* ... other styles */
}

.gallery-navbar-logo {
    height: 40px;   /* Adjust as needed */
    margin-left: -900px;  /* Space between logo and the links */
}
.filter-section {
    margin-top: 20px;  /* Space from other sidebar content */
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;  /* Space between checkbox items */
}

.checkbox-item input[type="checkbox"] {
    margin-right: 8px;  /* Space between checkbox and label */
}
.gallery-footer {
    background-color: #333;
    color: #fff;
    padding: 5.5px;
    text-align: center;
}

.gallery-footer p {
    margin: 0;
}

.gallery-footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;  /* Space between items */
}

.gallery-footer ul li {
    display: inline;
}

.gallery-footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.gallery-footer ul li a:hover {
    color: #2196F3;
}
