
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html, body {
    font-family: 'Roboto', sans-serif;
}


:root {
    --primary-color: #B233FF; /* Lilla */
    --secondary-color: #fafafa; /* Off-white for bakgrunner */
    --accent-color: #ff6659; /* En lysere rød */ 
    --text-color: #333; /* Mørkegrå for tekst */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.home-container .top-navbar {
    background-color: var(--primary-color);
}

.home-container .main-content .clickable-boxes .box {
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
}

.home-container .main-content .clickable-boxes .box:hover {
    background-color: var(--accent-color);
}


.home-container .top-navbar a:hover,
.home-container .secondary-navbar a:hover,
.footer a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}


.home-container .main-content .main-image {
    max-height: 40vh; 
    width: auto;
    max-width: 100%;
}


.home-container .main-content .clickable-boxes .box {
    border: none;
    border-radius: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.home-container .main-content .clickable-boxes .box:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.home-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.home-container .top-navbar {
    width: 100%;
    background-color: red;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#b71c1c, #e53935);
    
}

.home-container .top-navbar a {
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

/* Secondary Navbar */
.home-container .secondary-navbar {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.home-container .secondary-navbar a {
    color: black;
    text-decoration: none;
    margin-left: 80px;
    font-weight: bold;
}

/* Main Content */
.home-container .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.home-container .main-content .main-image {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.home-container .main-content .clickable-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.home-container .main-content .clickable-boxes .box {
    background-color: red;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: calc(30% - 25px);
    box-sizing: border-box;
}

.home-container .main-content .clickable-boxes .box h3 {
    border-bottom: 3px solid white; 
    padding-bottom: 10px; 
    margin-bottom: 20px;
}

.home-container .main-content .clickable-boxes .box p {
    margin-bottom: 5px; 
}

.home-container .main-content .clickable-boxes .box:hover {
    background-color: #444;
}

/* Contact Information */
.home-container .contact-info {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}

.home-container .contact-info a {
    color: blue;
}

/* Equipment Loan */
.home-container .equipment-loan {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
    position: relative;
    margin-top: auto;
}

.home-container .equipment-loan p {
    margin-bottom: 60px;
}

.home-container .equipment-loan .equipment-link {
    background-color: #ff5733;
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    border: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.home-container .equipment-loan .equipment-link:hover {
    background-color: #ff795e;
    color: white;
}


/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: 30%;
}

.footer h4 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.top-navbar {
    display: flex;    /* Use flex to arrange items horizontally */
    align-items: center;  /* Vertically center align items */
    /* ... other styles */
}

.navbar-logo {
    height: 40px;   /* Adjust as needed */
    order: -1;
}
/* Usynlig "spacer" element for å balansere logoen */
.home-container .top-navbar::before,
.home-container .top-navbar::after {
    content: '';
    flex: 1;
}

.home-container .top-navbar a {
    color: white;
    text-decoration: none;
    padding: 0 10px; /* Gir litt plass rundt lenkene */
    flex: none; /* Sørger for at lenkene ikke strekker seg */
}

/* Tilpasse for mindre skjermer */
@media (max-width: 768px) {
    .home-container .top-navbar {
        justify-content: flex-start;
    }

    .home-container .top-navbar::before,
    .home-container .top-navbar::after {
        display: none;
    }

    .navbar-logo {
        margin-right: 20px; /* eller ønsket plass */
    }
}

